.faq-row  {
//   background: #e41717 !important;
  box-shadow: 4px 0px 10px rgba(2, 2, 2, 0.07) !important;
}

.faq-home-container {
    max-width: 900px;
    margin: 0 auto;
//   box-shadow: 4px 0px 10px rgba(2, 2, 2, 0.07) !important;
}
