.footer-wrapper {
  padding: 100px 0;
  background: var(--background-color-secondary);
  color: var(--background-color);
  font-weight: 500;
  max-width: 100vw;
}

.footer-wrapper .container {
  display: flex;
  flex-wrap: wrap;
}

.footer-social ul {
  display: flex;
}

.footer-contact {
  display: flex;
  align-content: center;
}

.footer-about p {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

.footer-links-one ul li,
.footer-links-two ul li {
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  margin: 18px auto;
  width: 100%;
  height: 100%;
}

.footer-links-one h5 {
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
}

.footer-links-two h5 {
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
}

.footer-links-one-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
}

.footer-social h5,
.footer-content-wrapper h5 {
  font-weight: 500;
  font-size: 11px;
  line-height: 15px;
  margin: 21px 0;
}

.footer-content-wrapper p {
  font-weight: 500;
}

.footer-address {
  display: flex;
  flex-direction: column;
  font-size: 9px;
  line-height: 10px;
  justify-content: center;
}

.footer-address li {
  display: flex;
}

.footer-links-three li {
  margin: 0 3px;
}

.footer-links-three li img {
  margin: 5px 0;
}

.footer-address p {
  margin-left: 6px;
  margin-top: 13px;
}

.foot-sigup {
  background: #0003b8;
  border-radius: 100px;
  width: 100px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-left: 2em;
}

.social-icon-bg {
  background: #000285;
  border-radius: 8px;
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer__auth__links {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .foot-sigup {
    background: none;
    border-radius: 100px;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 0;
    margin-left: 0;
  }

  .footer-links-one-wrapper {
    margin-right: 50px;
  }
}
