.faq-hero {
  background: #e4effb;
  padding: 60px 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #1f1f1f;
}
.faq-hero h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 78px;
  text-align: center;
}
.faq-accordion {
  background-image: url(../../assets/diamonds-right.svg),
    url(../../assets/pattern-left.svg);
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  /* padding: 100px 0; */
  min-height: 80vh;
}
.accordion-item {
  border: none;
}
.accordion-button {
  color: #0003b8 !important;
}
.accordion-button:not(.collapsed),
.accordion-button:focus {
  background-color: #fff;
  border: none;
  box-shadow: none;
}

.faq-cta-btns .one {
  font-style: normal;
  width: 15em;
  height: 3em;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  background: var(--text-color-link);
  color: var(--background-color-light);
  padding: 9px 23px;
  border-radius: 100px;
  border: none;
  /* margin-right: 10px; */
}

.collections-card {
  background: #e4effb;
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: #9c9c9c;
}
.collections-card-bg-white {
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: #9c9c9c;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 8px 40px rgba(43, 53, 130, 0.05);
  font-size: 14px;
}
.collections-card-bg-white-left {
  margin-left: 1em;
}
.collections-card-bg-white-left-title {
  color: #0003b8;
  font-size: 16px;
}
.collections-card-circle {
  width: 54px;
  height: 54px;
  background: #ffffff;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection-name {
  margin-left: 1em !important;
}
.collection-name span {
  font-weight: bold;
  margin-left: 1em !important;
}
.collections-card-question {
  color: #858585;
}

.go__back span {
  cursor: pointer;
}

.go__back span:hover {
  font-weight: bold;
}

.helpful__post span {
  margin: 0 5px;
  cursor: pointer;
}

.helpful__post span:hover {
  font-weight: bold;
}
